name: CI

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev
      - main
jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: uv install -d

      - name: Run CI pipeline
        run: make ci
