name: CI

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Hatch (UV)
        run: python -m pip install --upgrade pip hatch

      - name: Create virtual environment
        run: uv venv

      - name: Install project dependencies
        run: uv sync -d

      - name: Run CI pipeline
        run: uv run make ci
